*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body{ 
    display: flex;  
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    padding: 20vh 5vw;
}

section {
    width: 100%;
    margin: 20px 30px;
}  

input {
    margin-bottom: 1vh; 
    padding: 5px;
}

button { 
    padding: 4px 5px;
}

.names { 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    gap: 1rem; 

} 

.name > input {
    flex: 1;
}



#email, #cellphone { 
    width: 100%; 

}

#hero-image { 
    min-width: 200px; 
    width: 80%;
} 

